<%= form_with(model: @kids_bacterium, local: true) do |form| %>
  <% if @kids_bacterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kids_bacterium.errors.count, "error") %> prohibited this kids bacterium from being saved:</h2>

      <ul>
        <% @kids_bacterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kid_nickname %>
    <%= form.text_field :kid_nickname %>
  </div>

  <div class="field">
    <%= form.label :bacteria_id %>
    <%= form.number_field :bacteria_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>