<%= form_with(model: @brushing_log, local: true) do |form| %>
  <% if @brushing_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brushing_log.errors.count, "error") %> prohibited this brushing log from being saved:</h2>

      <ul>
        <% @brushing_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kid_nickname %>
    <%= form.text_field :kid_nickname %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time_of_day %>
    <%= form.select :time_of_day, options_for_select([['Morning', 0], ['Afternoon', 1], ['Evening', 2]]) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>