<h1>Brushing Log</h1>

<p>Kid: <%= @brushing_log.kid_nickname %></p>
<p>Date: <%= @brushing_log.date %></p>
<p>Time of Day: <%= @brushing_log.time_of_day %></p>

<%= link_to 'Edit', edit_brushing_log_path(@brushing_log) %> |
<%= link_to 'Back', brushing_logs_path %>