<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hamigaki - プロフィール編集</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Press Start 2P', sans-serif;
      background: linear-gradient(90deg, #ffecb3, #ffe082);
      margin: 0;
      padding: 0;
      color: #333;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    header {
      background-color: #ffc107;
      text-align: center;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      flex-shrink: 0;
    }

    header h1 {
      margin: 0;
      font-size: 2.5rem;
      color: #fff;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      padding: 20px;
      text-align: center;
    }

    main .field {
      margin-bottom: 20px;
    }

    main .actions, .link-back {
      margin-top: 20px;
    }

    .btn-primary {
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 1.2rem;
      color: white;
      cursor: pointer;
      text-shadow: 1px 1px 2px #555;
      transition: background 0.3s;
      text-decoration: none;
    }

    .btn-primary:hover {
      background: #e65100;
    }

    .link-back img {
      width: 20px; /* 幅 */
      height: 20px; /* 高さ */
      margin-top: -10px; /* アイコンを少し上に移動 */
      transition: transform 0.3s; /* 動きにアニメーションを追加（オプション） */
    }

    .link-back img:hover {
     transform: translateY(-5px); /* ホバー時にさらに上に移動（オプション） */
    }

    footer {
      background-color: #ffc107;
      text-align: center;
      padding: 10px;
      color: white;
      flex-shrink: 0;
    }
  </style>
</head>
<body>
  <header>
    <h1>プロフィールをへんしゅう</h1>
  </header>

  <main>
    <%= form_with(model: @kid, local: true) do |form| %>
      <% if @kid.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kid.errors.count, "エラー") %> が発生しました:</h2>
          <ul>
          <% @kid.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :nickname, "ニックネーム" %>
        <%= form.text_field :nickname %>
      </div>

      <div class="field">
        <%= form.label :email, "メールアドレス" %>
        <%= form.email_field :email %>
      </div>

      <div class="field">
        <%= form.label :age, "ねんれい" %>
        <%= form.number_field :age %>
      </div>

      <div class="actions">
        <%= form.submit "OK", class: "btn-primary" %>
      </div>
    <% end %>

    <div class="link-back">
      <%= link_to image_tag('arrows.png', alt: 'もどる'), @kid %>
    </div>
  </main>

  <footer>
    <p>© 2025 hamigaki All Rights Reserved.</p>
  </footer>
</body>
</html>

