<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>はみがきメモリアル - ホーム</title>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"> <!-- ドットゴシックのフォントに変更 -->
  <%= stylesheet_link_tag 'application', media: 'all' %> <!-- Railsのアセットパイプラインを使用 -->
  <style>
    body {
      font-family: 'DotGothic16', sans-serif; /* フォントの変更 */
      text-align: center;
    }
    body.signed-in {
      background: url('<%= asset_path('yawning.png') %>') no-repeat center center fixed; /* 背景画像の設定 */
      background-size: 60% auto; /* 画像の幅をビューの幅に合わせる */
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 120px); /* ヘッダーおよびフッターの高さを引いた値 */
    }

    ul {
      list-style-type: none; /* リストのポイントを非表示に */
      padding: 0;
    }

    li {
      margin-bottom: 10px; /* リスト項目にマージンを追加 */
    }

    .actions {
      margin-top: 20px;
    }

    .btn-primary {
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 1.2rem;
      color: white;
      cursor: pointer;
      text-shadow: 1px 1px 2px #555;
      transition: background 0.3s;
      text-decoration: none;
    }

    .btn-primary:hover {
      background: #007bff;
    }

    .btn-primary img {
      width: 40px; /* 画像の幅 */
      height: 40px; /* 画像の高さ */
    }

    footer {
      background-color: #ffc107;
      text-align: center;
      padding: 10px;
      color: white;
    }
  </style>
</head>
<body class="<%= body_class %>">
  <header>
    <h1>はみがきメモリアル</h1>
  </header>

  <main>
    <ul>
      <% if kid_signed_in? %>
        <li>
          <%= link_to current_kid.nickname, current_kid %>
          <i class="fas fa-home"></i>
        </li>
      <% else %>
        <li>ようこそ！アカウントつくろう▼ </li>
      <% end %>
    </ul>

    <div class="actions">
      <% if kid_signed_in? %>
        <%= link_to destroy_kid_session_path, method: :delete, class: "btn-primary" do %>
          <%= image_tag 'logout.png', alt: 'サインアウト', width: 40, height: 40 %>
        <% end %>
      <% else %>
        <%= link_to new_kid_path, class: "btn-primary" do %>
          <%= image_tag 'user.png', alt: 'しんきとうろく', width: 40, height: 40 %>
        <% end %>
        <%= link_to new_kid_session_path, class: "btn-primary" do %>
          <%= image_tag 'log-in.png', alt: 'ログイン', width: 40, height: 40 %>
        <% end %>
      <% end %>
    </div>
  </main>

  <footer>
    <p>© 2025 はみがきメモリアル All Rights Reserved.</p>
  </footer>
</body>
</html>