<h2>サインアップ</h2>

<%= form_with(model: @kid, local: true) do |form| %>
  <% if @kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= @kid.errors.count %> つ のエラーがはっせいしたよ</h2>
      <ul>
        <% @kid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname, "ニックネーム" %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :age, "ねんれい" %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit "OK" %>
  </div>
<% end %>