<h1>マイページ</h1>

<p>
  <strong>ニックネーム:</strong>
  <%= @kid.nickname %>
</p>

<%# <p> %>
  <%# <strong>メールアドレス:</strong> %>
  <%# <%= @kid.email %>
<%# </p> %>

<p>
  <strong>ねんれい:</strong>
  <%= @kid.age %>
</p>

<%= link_to 'へんしゅう', edit_kid_path(@kid) %> |
<%= link_to 'もどる', kids_path %>