<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hamigaki - マイページ</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1>マイページ</h1>
  </header>

  <main>
    <% if @kid %>
      <p><strong>ニックネーム:</strong> <%= @kid.nickname %></p>
    <% end %>
    <p><strong>ねんれい:</strong> <%= @kid.age %>さい</p>

    <div class="actions">
      <%= link_to 'へんしゅう', edit_kid_path(@kid), class: "btn-primary" %>
      <%= link_to 'もどる', kids_path, class: "btn-primary" %>
    </div>

    <section class="title">
      <h2><%= current_kid.nickname %>さんのhamigakiのきろく</h2>
    </section>

    <div>
      <%= link_to 'あたらしいきろくをついか', new_kid_brushing_log_path(current_kid), class: "btn-primary" %>
    </div>

    <ul>
      <% current_kid.brushing_logs.each do |record| %>
        <li>
          <% if record.icon_type.present? %>
            <%= image_tag "#{record.icon_type}.png", alt: record.icon_type.capitalize, class: 'record-icon' %>
          <% elsif record.image.present? %>
            <%= image_tag(record.image.url) %>
          <% else %>
            <%= image_tag 'happy-face.png', alt: 'Happy Face' %>
          <% end %>
          <p><%= record.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d(%a) %H:%M") %></p>
        </li>
      <% end %>
    </ul>
  </main>

  <footer>
    <p>© 2025 hamigaki All Rights Reserved.</p>
  </footer>
</body>
</html>