<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hamigaki - マイページ</title>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">

  <style>
    body {
      font-family: 'DotGothic16', sans-serif;
      text-align: center;
    }

    header {
      margin-bottom: 20px; /* 下に余白を追加 */
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 20px;
    }

    .btn-secondary img, .btn-primary img, .record-icon {
      transition: transform 0.3s ease;
      background: none; /* 背景なしに設定 */
    }

    .btn-secondary:hover img, .btn-primary:hover img, .record-icon:hover {
      transform: scale(1.1); /* アイコンを拡大するアニメーション */
    }

    .btn-secondary img {
      width: 20px; /* アイコンサイズを調整 */
      height: 20px;
      background: none; /* 背景なしに設定 */
    }

    .btn-primary img {
      width: 40px; /* アイコンサイズを調整 */
      height: 40px;
      background: none; /* 背景なしに設定 */
    }

    .actions {
      display: flex;
      justify-content: space-around; /* 中央に配置する場合は適宜調整 */
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none; /* リストのポイントを非表示にする */
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center; /* 中央に揃える */
      margin-bottom: 10px;
    }

    .record-icon {
      margin-right: 10px;
    }

    .center-content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .log-item {
      display: flex;
      align-items: center;
    }

    .log-item p {
      margin: 0 10px;
    }

    /* ニックネームと年齢を左寄せにするスタイル */
    .user-info {
      text-align: left;
      margin-left: 20px; /* 左に余白を追加 */
    }

    .virus-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; /* 下に余白を追加 */
    }

    .virus-img {
      width: 40px;
      height: 40px;
      margin: 5px;
    }

    .star-img {
      width: 40px;
      height: 40px;
      margin: 5px;
    }

  </style>
</head>
<body>
  <header>
    <%= link_to kids_path, class: "btn-primary" do %>
      <%= image_tag 'arrows.png', alt: '戻る' %>
    <% end %>
    <h1>マイページ</h1>
    <%= link_to edit_kid_path(current_kid), class: "btn-primary" do %>
      <%= image_tag 'user-profile.png', alt: '編集' %>
    <% end %>
  </header>

  <main>
    <div class="user-info">
      <% if @kid %>
        <p><strong>ニックネーム:</strong> <%= @kid.nickname %></p>
      <% end %>
      <p><strong>ねんれい:</strong> <%= @kid.age %>さい</p>
    </div>

    <div class="actions">
      <%= link_to new_kid_brushing_log_path(current_kid), class: "btn-primary" do %>
        <%= image_tag 'tooth-brush.png', alt: '新しい記録を追加' %>
        <%= image_tag 'plus.png', alt: '追加' %> <!-- 新しいアイコンを追加 -->
      <% end %>
    </div>

    <section class="title">
      <% if current_kid %>
        <h2><%= current_kid.nickname %>さんのhamigakiのきろく</h2>
      <% else %>
        <h2>ユーザーが見つかりません。</h2>
      <% end %>
    </section>

    <div class="virus-container">
      <% if current_kid %>
        <% brushing_logs_count = current_kid.brushing_logs.where('created_at >= ?', Date.today.beginning_of_day).count %>
        <% brushing_logs_count.times do %>
          <%= image_tag 'star.png', class: 'star-img' %>
        <% end %>
        <% (3 - brushing_logs_count).times do %>
          <%= image_tag 'virus.png', class: 'virus-img' %>
        <% end %>
      <% end %>
    </div>

    <ul>
      <% current_kid.brushing_logs.each do |record| %>
        <li class="log-item">
          <% if record.icon_type.present? %>
            <%= image_tag "#{record.icon_type}.png", alt: record.icon_type.capitalize, class: 'record-icon' %>
          <% elsif record.image.present? %>
            <%= image_tag(record.image.url) %>
          <% else %>
            <%= image_tag 'happy-face.png', alt: 'Happy Face' %>
          <% end %>
          <p><%= record.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d(%a) %H:%M") %></p>
          <%= link_to [current_kid, record], method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn-secondary" do %>
            <%= image_tag 'delete.png', alt: '削除' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </main>

  <footer>
    <p>© 2025 hamigaki All Rights Reserved.</p>
  </footer>
</body>
</html>