<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワードをわすれたひと</title>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet"> <!-- ドットゴシックフォントを読み込み -->
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'DotGothic16', sans-serif; /* ドットゴシックフォントを適用 */
      text-align: center;
      margin: 0;
      position: relative; /* 相対位置を追加 */
    }
    h2 {
      font-family: 'DotGothic16', sans-serif;
      font-size: 2em;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex: 1;
    }
    .field {
      margin-bottom: 15px;
    }
    .actions {
      text-align: center;
    }
    footer {
      background-color: #ffd54f; /* パステルイエロー */
      text-align: center;
      padding: 10px;
      color: white;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .back-button {
      position: absolute;
      left: 20px;
      top: 20px;
    }
  </style>
</head>
<body>
  <%= link_to new_kid_session_path, class: "back-button" do %>
    <%= image_tag 'arrows.png', alt: '戻る', width: 40, height: 40 %>
  <% end %>

  <div>
    <h2>パスワードをわすれたひと</h2>

    <div class="form-container">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードをリセットする" %>
        </div>
      <% end %>
    </div>
  </div>

  <footer>
    <p>© 2025 シャカシャカにっき All Rights Reserved.</p>
  </footer>
</body>
</html>