<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'DotGothic16', sans-serif;
      text-align: center;
      margin: 0;
    }
    h2 {
      font-family: 'DotGothic16', sans-serif;
      font-size: 2em;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .field {
      margin-bottom: 15px;
    }
    .actions {
      text-align: center;
    }
    .links {
      text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <h2>ログイン</h2>

    <div class="form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>
    </div>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
</html>